@font-face {
  font-family: 'Syfy-Black';
  src: url('../fonts/syfybla-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/syfybla-webfont.woff') format('woff'),
  url('../fonts/syfybla-webfont.ttf')  format('truetype'),
  url('../fonts/syfybla-webfont.svg#Syfy-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syfy-BlackItalic';
  src: url('../fonts/syfyblaita-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/syfyblaita-webfont.woff') format('woff'),
  url('../fonts/syfyblaita-webfont.ttf')  format('truetype'),
  url('../fonts/syfyblaita-webfont.svg#Syfy-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syfy-Bold';
  src: url('../fonts/syfybol-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/syfybol-webfont.woff') format('woff'),
  url('../fonts/syfybol-webfont.ttf')  format('truetype'),
  url('../fonts/syfybol-webfont.svg#Syfy-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syfy-BoldItalic';
  src: url('../fonts/syfybolita-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/syfybolita-webfont.woff') format('woff'),
  url('../fonts/syfybolita-webfont.ttf')  format('truetype'),
  url('../fonts/syfybolita-webfont.svg#Syfy-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syfy-Medium';
  src: url('../fonts/syfymed-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/syfymed-webfont.woff') format('woff'),
  url('../fonts/syfymed-webfont.ttf')  format('truetype'),
  url('../fonts/syfymed-webfont.svg#Syfy-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syfy-MediumItalic';
  src: url('../fonts/syfymedita-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/syfymedita-webfont.woff') format('woff'),
  url('../fonts/syfymedita-webfont.ttf')  format('truetype'),
  url('../fonts/syfymedita-webfont.svg#Syfy-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syfy-RegularItalic';
  src: url('../fonts/syfy-regularitalic-v2-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/syfy-regularitalic-v2-webfont.woff') format('woff'),
  url('../fonts/syfy-regularitalic-v2-webfont.ttf')  format('truetype'),
  url('../fonts/syfy-regularitalic-v2-webfont.svg#Syfy-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Syfy-Regular';
  src: url('../fonts/syfy-regular-v2-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/syfy-regular-v2-webfont.woff') format('woff'),
  url('../fonts/syfy-regular-v2-webfont.ttf')  format('truetype'),
  url('../fonts/syfy-regular-v2-webfont.svg#Syfy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
